
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box }

html {
  font-size: 62.5%;
 }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  background-color: white;
  box-sizing: border-box; 
  font-size: 1.6rem;
  padding: 0;
  
}   

.heading-none{
    display: none;
}


a {
    text-decoration: none;
    color:black;
}
.header{
   
    padding:.5rem 2rem;
    display: flex;
    border-bottom: 1px solid #d0d5db;
    background: white;

}

.left-side{
    
    justify-content: space-between;

}

.right-side{
    
    justify-content: space-between;

}
.header-center{
    margin:0 auto;
}

.left-side>button{
    margin-right: 2rem;
    border: none;
    background: none;
}

.fas {
    padding:.6rem;
}

.left-side>button:hover{

    background: #e4e5e7;
}

.link{
    text-transform: uppercase;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.stylish-heading>img{
    height: 3rem;
}

.right-side>button{
    background-color: rgb(87, 135, 231);
    border: 1px solid #1646a7;
    font-size:1.2rem;
    padding: .8rem;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}




/* Main  */

.main {
    width:80%;
    margin: 5.5rem auto;

}
.heading:first-child{
    margin-bottom: 0;
}

.heading {
    font-family: cursive;
    font-style:italic;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    margin-left: 30%;
}

.heading-img {
    width: 100%;
    margin-bottom: .2rem;
}

.main-part1-paragraph {
    width: 70%;
    font-size: 1.5rem;
    color:#777;
    line-height: 1;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 2rem 4rem;
    position: relative;
}

.main-part2-right {
    width: 70%

}

.main-part2-left {
    width:20%;
}

.margin-bottom{
    margin-bottom: 1.2rem;
}
.author {
    margin-top: 4rem;
    margin-left:20rem;
    font-size: 1.4rem;
}
.author>a {
    text-decoration: underline;
    

}
.author>a:hover {
    text-decoration: none;
}

.date {
    
    font-size: 1.2rem;
    color:grey;
}
.main-part2-right>span {
    display: flex;
    flex-direction: column
}

.text {
    font-size: 1.8rem;
    margin-left:20rem;
}
/* Icons */
.icons {
    margin-left: 20rem;
}

.icons {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.icons>ul {
    margin-left: 18rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.social {
    
    margin-left: 1.5rem;
}

.fab,.fas {
    font-size: 1.5rem;
    padding:.6rem;
   
    border-radius: 15px;
    background-color: rgb(233, 221, 221);
}
.fab:hover,.fas:hover {
    border:1px solid grey;
    background-color: white;
}
.fa-facebook-f{
    padding: .6rem 1.05rem;
}
.fa-comment-alt{
    position: relative;  
    width: 1.5rem;
    font-size: 3rem;
}
.fa-bookmark {
    font-weight: 100;
    font-size : 2.5rem;
}
.comment {
    color: black;
    font-weight: 100;
    font-size: 1.2rem;
    position: absolute;
    top: 15%;
    left: 45%;
}
.fa-bookmark:hover, .fa-comment-alt:hover {
   color: rgb(221, 203, 203);
}

.center-text{
   position: inherit;
   transform: translate(50%, 0%);
   padding: 2rem 0;

}
.small-text-center{
    font-weight: 600;
    font-size: 1.4rem;
}
.small-text-center:not(:last-child) {
    margin-top : 1.6rem;
}


.blue{
    color: rgb(76, 135, 223);
}

.little-heading{
    margin-left: 20rem;
    font-weight: 600;
    font-size: 1.9rem;

}
.video  {
    margin-top: 3rem;
    margin-left: 20rem;
}

.another {
    width: 100%;
    margin-left: 0;
}


.main-part3 {
    width: 80%;
    margin: 2rem auto;
}

.part3-image {
    width: 100%;
    position: relative;
}
.part3-text { 
    margin-left: 3rem;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 12rem;
    width:22%;
    vertical-align: top;
    font-size: 1.1rem;

 
}
.part3-text:first-child, .part3-text:nth-child(5) {
    margin-left: 0;
}


.position-box {
    position: relative
}
.position-box-images {
    left: 2%;
    top:20%;
    position: absolute;

}

.bottom-text {
    margin-top: 5rem;
}

